<nav class="nav">
  <a class="header-logo" href="/">
    <img src="{{ site.baseurl }}/img/site/carrie_morris_logo2.svg">
    <br>
    <span>UX/ UI design &amp; Illustration</span>
  </a>
  <div class="social-nav">
    <a href="https://twitter.com/carriemoja"><i class="fa fa-twitter"></i></a>
    <a href="http://instagram.com/carriemoja"><i class="fa fa-instagram"></i></a>
    <a href="http://dribbble.com/carriemoja"><i class="fa fa-dribbble"></i></a>
    <a href="mailto:carriemojaworks@gmail.com">@</a>
  </div>
</nav>
