.nav{
  float: left;
  width: 100%;
}

.header-logo{
  background: url('/../img/site/carrie_morris_logo.svg');
  width: 312px;
  height: 85px;
  display: block;
  background-repeat: no-repeat;
  margin: 40px auto 0 auto;
}

.social-nav{
  text-align: center;
  margin: 10px 0 17px 0;
  a{
    color: $black;
    @include font-size($large-font-size);
    margin:0 5px;
    transition: all 0.2 ease;
    &:hover{
      opacity: .8;
    }
  }
}
