
article.post{
	padding:40px 0;
}

.post-title{
	font-family: 'Trocchi', serif;
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.post-meta{
	text-align: center;
	margin:20px 0;
	border-top: 1px solid #ccc;
	padding:10px 40px;
}

