/**
 * Accessible toggle switches (checkboxes or radio buttons)
 *
 * Usage:
 * Input must be wrapped in a label and have the label text wrapped in a div, e.g.
 * <label class="toggle" for="toggle-example">
 *   <input type="radio" id="toggle-example" />
 *   <span class="toggle__text">I am the label
 * </label>
 *
 * CodePen: http://codepen.io/yoomee/pen/oLPNPK
 *
 * Browser support: IE9+
 *
 * Notes:
 * If using both checkboxes and radio buttons as toggles they should be styled differently so it's clear to the user
 * how they will work.
 *
 * IE8 doesn't support the :checked pseudo-element, if need to support this either use Modernizr to detect this
 * (https://modernizr.com/download?setclasses&q=checked) and use default browser styles instead, or use javascript
 * to check if the input is checked and add a class to its label.
 */

.toggle {
  position: relative;
  padding: 16px 16px 12px 16px;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  line-height: 1;

  input {
    z-index: 1;
    position: absolute;
    left: -1000em;
  }
}

.toggle__text {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: white;
    border: 2px solid #CCC;
    border-radius: 4px;
    z-index: -1;
  }
}

// Selected
input:checked + .toggle__text {
  color: white;

  &:before {
    background: red;
    border-color: red;

  }
}

//focus & hover on unchecked
input:focus + .toggle__text, .toggle:hover .toggle__text {
  border-bottom: 1px dotted red;

  &:before {
    border-color: red;
    color: purple;
  }
}

//focus & hover on checked
input:focus:checked + .toggle__text,
.toggle:hover input:checked ~ .toggle__text {
  border-bottom: 1px dotted white;
  &:before {
    border-color: red;
    color: purple;
    background: lighten(red, 15%);
  }
}
