<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body class="{{ page.body-class }} {{ page.tag }}">
    <div class="phone-wrap">
      <div class="phone-frame">

        <div id="main">
          {{ content }}
        </div>
      <!--  {% include footer.html %}-->
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</html>
