---
layout: default
---

<div class="home">
<!--
  <h1 class="page-heading">Posts</h1>

  {{ content }} This

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->

<div class="body-text">
  <div>
    <h1 class="title">Carrie Morris ...</h1>
    ...is a digital designer based in Sheffield, UK
    <span> I'm super busy working on making my portfolio at the minute. In the meantime you can checkout my <a class="dribbble" href="http://dribbble.com/carriemoja">Dribbble</a>, <a class="twitter" href="https://twitter.com/carriemoja">Twitter</a> or <a class="instagram" href="http://instagram.com/carriemoja">Instagram</a></span>
  </div>

</div>
