/**
 * Base styles
 */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

html, input {
  font-size: 100%;
}

body {
  font-family: $body-font;
  line-height: 1.5;
  font-size: $base-font-size + px;
  margin:0;
  background: url('/../img/site/background-blobs.svg') $white;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: underline;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
